In [2]:
from alphatrading.system.db_methods import method_sqlite3 as sql

In [4]:
db = sql.SQL()

In [5]:
db.connect_database("./example_db_sqlite3_1")

In [6]:
table_name = "myTable"
parameters = {
    "prop1": "int", 
    "prop2": "float", 
    "prop3": "str", 
    "prop4": "str"
}

db.create_table(table_name, parameters)

CREATE TABLE myTable (id integer, prop1 integer, prop2 real, prop3 text, prop4 text)

In [7]:
table_name = "myTable2"
parameters = {
    "prop1": "int", 
    "prop2": "float", 
    "prop3": "str", 
    "prop4": "str"
}

db.create_table(table_name, parameters)

CREATE TABLE myTable2 (id integer, prop1 integer, prop2 real, prop3 text, prop4 text)

In [8]:
a = "hello"

value = [2, 3.1471, "Hello!", a]
db.insert("myTable", value)

SELECT id FROM myTable
INSERT INTO myTable VALUES (1,2,3.1471,'Hello!','hello')

In [9]:
db.insert("myTable", [4, 154.2, "yeah!", "ohhh"])

SELECT id FROM myTable
INSERT INTO myTable VALUES (2,4,154.2,'yeah!','ohhh')

In [10]:
table_list = db.get_table_list()

SELECT name FROM sqlite_master WHERE type='table'

In [11]:
table_list

['myTable', 'myTable2']

In [12]:
db.select(table = "myTable")

SELECT * FROM myTable

[(1, 2, 3.1471, 'Hello!', 'hello'), (2, 4, 154.2, 'yeah!', 'ohhh')]

In [13]:
db.select(table = "myTable", 
          where_=[
              {"object":"id", "operator":"<", "value":6}, 
              "or",
              {"object":"prop3", "operator":"==", "value":"Hello!"}
              ], 
          orderby_ = ["id"], 
          ordering = "DESC")

SELECT * FROM myTable WHERE id<6 OR prop3='Hello!' ORDER BY id DESC

[(2, 4, 154.2, 'yeah!', 'ohhh'), (1, 2, 3.1471, 'Hello!', 'hello')]

In [14]:
db.delete("myTable", where_= [
    {"object":"id", "operator":"==", "value":3}
])

DELETE FROM  myTable WHERE id=3